* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  --blue-900: #242026;
  --blue-800: #2c272e;

  --gray-800: #3b3b3b;

  --off-white: #fbf7f7;

  --orange-100: #f8d6af;
  --orange-700: #fc9c2b;
}
body {
  background-color: var(--blue-800);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .headlineWrapper {
    display: flex;
    flex-direction: column;
    font-family: "saira";

    .textWrapper {
      p {
        color: var(--orange-100);
        font-size: 32px;
        margin-bottom: 1rem;
        font-weight: bold;
      }
    }

    .inputWrapper {
      input {
        width: 455px;
        height: 65px;
        border-radius: 8px 0px 0px 8px;
        background-color: var(--blue-900);
        color: #ffffff;
      }
      input::placeholder {
        color: var(--orange-700);
        text-align: center;
        font-family: "saira";
        font-size: 24px;
      }

      button {
        border: 0;
        width: 117px;
        height: 65px;
        border-radius: 0px 8px 8px 0px;
        background-color: var(--gray-800);
        color: var(--orange-700);
        cursor: pointer;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}
